# Zig artifacts
zig-out/
.zig-cache/

# Executables
*.exe
*.pdb
*.obj

# IDEs
.vscode/
.vs/
*.sln
*.vcxproj
*.user

# Rust
target/
**/*.rs.bk
Cargo.lock

#Ignore Vulkan Compute
*.spv

thirdparties/*
thirdparties/**
thirdparties/
!thirdparties/odin-windows-amd64-dev-2025-12a/dist/odin.exe